.header__middle {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}
.header__middle .header__option {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
.header__option:hover .MuiSvgIcon-root {
  color: blue;
}
.header__option__active {
  display: flex;
  background-color: lightgray;
  border-bottom: solid 5px blue;
  align-items: center;
  padding: 10px 25px;
}

a {
  text-decoration: none;
}
