.signupform {
  background-color: white;
  border-radius: 10px;
  margin-top: 50px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}
.logininfo {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-top: 20px;
}
.signupform .form__input {
  margin: 10px;
}
.personal {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.education {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.worklife {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.profilepic {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.submit {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.profilepic input {
  margin: 20px;
}
.signupform .btn {
  width: 50%;
  background-color: green;
  color: white;
  margin: 75px;
  display: block;
}
.signupform .btn:hover {
  width: 50%;
  background-color: green;
  color: white;
  opacity: 0.7;
}
.signupform .terms,
p,
h2 {
  margin: 20px;
  display: flex;
  align-items: center;
}
.signupform .terms__check {
  display: flex;
  margin-left: 50px;
  font-size: 15px;
}
.terms__check input {
  margin-left: 20px;
}
