.story {
  background-repeat: no-repeat;
  width: 120px;
  height: 200px;
  background-position: center center;
  margin: 0px 5px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}
.story h5 {
  position: absolute;
  top: 80%;
  left: 5%;
  color: white;
  text-shadow: 2px 2px black;
}
.story .avatar {
  border: solid 4px blue;
  margin: 20px 20px;
}
.story:hover {
  transition: 0.2s ease-in;
  transform: scale(1.07);
}
